*{
    margin: 0px;
    font-family:sans-serif;
}
section{
    background-image: url("food.jpg");
    height:80vh;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
   align-items:center;
   justify-content: space-between;
   box-shadow: 2px 2px 12px black;
   background-color: rgba(15, 9, 0, 0.781);
}

 ul{
    display:flex;
    text-transform: uppercase;
} 
.text{
    font-size:25px;
    text-decoration: none;
    color:black;
    margin:0px 0px 0px 5rem;
    text-transform: uppercase;
    color: white;
}
ul li{
    list-style: none;
    padding:2rem;
}
ul li a{
    text-decoration: none;
    color: white;
}
.dropdown:hover .drop{
    display:block;
}
.drop{
    display: inline-block;
    padding:0px;
    background-color: white;
    display:none;
}
.one{
    width:230px;
    height:35vh;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
.bigbox{
  display:flex;
  justify-content: space-between;
  padding:3rem;
}
.box1{
    box-shadow: 2px 3px 14px black;
    border-radius: 15px;
}
.box2{
    box-shadow: 2px 3px 14px black;
    border-radius: 15px;
}
.box3{
    box-shadow: 2px 3px 14px black;
    border-radius: 15px;
}
.para1{
    text-align: center;
    font-size: 25px;
}
.text2{
    transform: translate(31rem , 5rem);
}
.para3{
   text-transform: uppercase;
   color: white;
   font-size: 25px;
}
.para2{
    font-size: 26px;
    color: white;
    padding-top: 1rem;
}
.inpt{
    width:130px;
    height: 6.1vh;
    margin-top: 1rem;
}
.inpt:focus{
    width:30%;
    transition: 0.3s ease-in-out;
}